* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.header {
  margin: 2rem 10%;
  display: flex;
  justify-content: space-between;
}

.button {
  background: none;
  border: 2px solid #000000;
  box-shadow: 3px 3px;
  padding: 0 9px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.button:hover {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.editor-box {
  margin: 1rem 10%;
  border: 2px solid #96bff3;
  padding: 20px;
  /* height: 50vh; */
  cursor: text;
  overflow-y: scroll;
}

.public-DraftStyleDefault-block {
  height: 50vh;
}

.controls {
  margin: 1rem 10%;
  line-height: 1.5;

}

.controls h3 {
  color: #082f62;
  padding-bottom: 10px;
  text-decoration: underline;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.controls span {
  font-weight: bold;
  color: rgb(10, 51, 93);
}

.controls .heading {
  font-size: 25px;
  font-weight: bold;
}

.controls .bold {
  font-weight: bold;
}

.controls .red {
  color: rgb(255, 0, 0);
}

.controls .underline {
  text-decoration: underline;
}